.overlay{
  overflow: scroll;
  scroll-behavior: smooth;
}h3{
  font-size: 32px;
}
  form{
    background-color: white;
    padding: 50px 100px;
    margin: 20px 300px 30px 300px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
label, input, textarea {
    display: block;
    font-size: 12pt;
    line-height: 24pt;
  }
label{
  text-align: justify;
}

  input, textarea {
      width: 100%;
    margin-bottom: 24pt;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background: #f5f5f5;
    padding-right: 20px;
    padding-left: 5px;
    outline: none;
  }

  input:focus, textarea:focus {
    border: 1px solid #6bd4b1;
  }
.button {
    display: block;
    line-height: 24pt;
    padding: 0 20px;
    border: none;
    background: #f45702;
    color: white;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
    width:min-content;
    text-align: center;
    margin: 10px;
  }

.footer{
  margin-top: 0px;
}


@media screen and (max-width: 1000px) {
  form{
    padding: 50px 40px;
    margin: 0 10px;
  }
}